  <!-- COMP308 - Emerging Technology Assignment One
 * File: footer.ejs
 * Student: Ali Saim (300759480)
 * Date Created: Feb 5th 2017
 * Date Last Modified: Feb 10th 2017
 * Description: footer.ejs is a class used to build a the footer of the website, this view can be used for all other pages
 * Revision History:
 *  Feb 05, 2017:
 * 					Created footer.ejs
 * Feb 10, 2017
 *          Added internal documentation
 -->


<nav class="navbar navbar-default navbar-fixed-bottom">

      <div class="container">
        <div class="footerOfPage">
          
          
           <p>&copy; 2017 All Rights Reserved.</p>
          
          </div>

    
        </div>
      </div>
   
</nav>
    
    <!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>