  <!-- COMP308 - Emerging Technology Assignment One
 * File: header.ejs
 * Student: Ali Saim (300759480)
 * Date Created: Feb 5th 2017
 * Date Last Modified: Feb 10th 2017
 * Description: header.ejs is a class used to build a the header of the website, this view can be used for all other pages
 * Revision History:
 *  Feb 05, 2017:
 * 					Created header.ejs
 * Feb 10, 2017
 *          Added internal documentation
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- CSS SECTION -->
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"> <i class="fa fa-android fa-2x"></i> Ali Saim</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

      <% if(title == "Home") { %>

        <li class="active"> <a href="/">            <i class="fa fa-home fa-3x" aria-hidden="true">           </i> Home</a>     </li>
        <li><a href="/about">                       <i class="fa fa-info-circle fa-2x" aria-hidden="true">    </i> About</a>    </li>
        <li><a href="/projects">                    <i class="fa fa-laptop fa-2x" aria-hidden="true">         </i> Projects</a> </li>
        <li><a href="/services">                    <i class="fa fa-handshake-o fa-2x" aria-hidden="true">    </i> Services</a> </li>
        <li><a href="/contact">                     <i class="fa fa-phone fa-2x" aria-hidden="true">          </i> Contact</a>  </li>
        
        <% } else if(title =="About") { %>
        <li><a href="/">                            <i class="fa fa-home fa-2x" aria-hidden="true">           </i> Home</a>     </li>
        <li class="active"> <a href="/about">       <i class="fa fa-info-circle fa-3x" aria-hidden="true">    </i> About</a>    </li>
        <li><a href="/projects">                    <i class="fa fa-laptop fa-2x" aria-hidden="true">         </i> Projects</a> </li>
        <li><a href="/services">                    <i class="fa fa-handshake-o fa-2x" aria-hidden="true">    </i> Services</a> </li>
        <li><a href="/contact">                     <i class="fa fa-phone fa-2x" aria-hidden="true">          </i> Contact</a>  </li>

        <% } else if(title =="Projects") { %>
        <li><a href="/">                            <i class="fa fa-home fa-2x" aria-hidden="true">           </i> Home</a>     </li>
        <li><a href="/about">                       <i class="fa fa-info-circle fa-2x" aria-hidden="true">    </i> About</a>    </li>
        <li class="active"><a href="/projects">     <i class="fa fa-laptop fa-3x" aria-hidden="true">         </i> Projects</a> </li>
        <li><a href="/services">                    <i class="fa fa-handshake-o fa-2x" aria-hidden="true">    </i> Services</a> </li>
        <li><a href="/contact">                     <i class="fa fa-phone fa-2x" aria-hidden="true">          </i> Contact</a>  </li>

        <% } else if(title =="Services") { %>
         <li><a href="/">                            <i class="fa fa-home fa-2x" aria-hidden="true">           </i> Home</a>     </li>
         <li><a href="/about">                       <i class="fa fa-info-circle fa-2x" aria-hidden="true">    </i> About</a>    </li>
         <li><a href="/projects">                    <i class="fa fa-laptop fa-2x" aria-hidden="true">         </i> Projects</a> </li>
         <li class="active"><a href="/services">     <i class="fa fa-handshake-o fa-3x" aria-hidden="true">    </i> Services</a> </li>
         <li><a href="/contact">                     <i class="fa fa-phone fa-2x" aria-hidden="true">          </i> Contact</a>  </li>

        <% } else if(title =="Contact") { %>
         <li><a href="/">                            <i class="fa fa-home fa-2x" aria-hidden="true">           </i> Home</a>     </li>
         <li><a href="/about">                       <i class="fa fa-info-circle fa-2x" aria-hidden="true">    </i> About</a>    </li>
         <li><a href="/projects">                    <i class="fa fa-laptop fa-2x" aria-hidden="true">         </i> Projects</a> </li>
         <li><a href="/services">                    <i class="fa fa-handshake-o fa-2x" aria-hidden="true">    </i> Services</a> </li>
         <li class="active"><a href="/contact">      <i class="fa fa-phone fa-3x" aria-hidden="true">          </i> Contact</a>  </li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>