<!-- COMP308 - Emerging Technology Assignment One
 * File: about.ejs
 * Student: Ali Saim (300759480)
 * Date Created: Feb 5th 2017
 * Date Last Modified: Feb 10th 2017
 * Description: about.ejs is a class used to build a view to the website
 * Revision History:
 *  Feb 05, 2017:
 * 					Created about.ejs
 * Feb 10, 2017
 *          Added internal documentation
 -->

<!--INCLUDE THE PAGE HEADER TO THIS VIEW -->
<% include ../partials/header.ejs %>

<!-- CONTENT PAGE FOR ABOUT -->
    <div class="container">
      <div class="row">
      <h1><%= title %></h1>
        <div class="col-md-offset-2 col-md-8">

        <div class ="project">

                    <div class="col-xs-offset-0 col-md-4"> 
                    <h4>Profile</h4>

                            <img class="picture" src="images/ali.jpg" alt="Ali's Picture">
                            <br>
                            <p>
                                This is picture of me, I am in my normal phase of questioning life. Should I eat soup or pho?
                            </p>
                    </div>


                    <div class="col-xs-9 col-md-4"> 
                    <h4>Education</h4>
                    
                            <img class="picture" src="images/school.png" alt="Centennial College Image">
                            <br>
                            <p>
                                I started studying software engineering at Centennial College in Setpember
                                 2013 and now I am curently enrolled in my last semester.
                            
                            </p>
                    </div>


                    <div class="col-xs-offset-0 col-md-4"> 
                    <h4>Skill Set</h4>
  
                            <p>
                            Some of the tools and languages that I have in my locker room:
                            </p>

                            <ul class ="skills">
                              <li>HTML & CSS</li>
                              <li>Java</li>
                              <li>C#</li>
                              <li>Android Studio</li>
                              <li>Unity</li>
                              <li>NodeJS...learning</li>
                              <li>more</li>
                            </ul>

                    </div>
                    
         </div>


        </div>
      </div>
    </div>


<!--INCLUDE THE PAGE FOOTER TO THIS VIEW -->
<% include ../partials/footer.ejs %>