<!-- COMP308 - Emerging Technology Assignment One
 * File: contact.ejs
 * Student: Ali Saim (300759480)
 * Date Created: Feb 5th 2017
 * Date Last Modified: Feb 10th 2017
 * Description: contact.ejs is a class used to build a view to the website
 * Revision History:
 *  Feb 05, 2017:
 * 					Created about.ejs
 * Feb 10, 2017
 *          Added internal documentation
 -->

<!--INCLUDE THE PAGE HEADER TO THIS VIEW -->
<% include ../partials/header.ejs %>


<!-- CONTENT PAGE FOR CONTACT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h1><%= title %></h1>
          

          <div class ="project">

                    <div class="col-xs-9 col-md-4"> 
                    Address Info:
                    <br>
                            <address>
                            123 Fake Street, Suite 900<br>
                            Toronto, Ont. M4B-2K9<br>
                            <abbr title="Phone">P:</abbr> (647) 720-8910
                            </address>

                            <address>
                            <strong>Ali Saim</strong><br>
                            <a href="mailto:#">AliSaimWindows@gmail.com</a>
                            </address>
                    </div>
   
                    
                    <div class="col-xs-9 col-md-4"> 
                    Socail Media:
                    <br>

                    <a href="https://www.facebook.com/ali.saim.7923"> <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
                    <vr>
                    <a href="https://twitter.com/L_Saim"> <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
                    <vr>
                    <a href="https://www.linkedin.com/in/ali-saim-2a5091a4?trk=hp-identity-name"> <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>

                    </div>



         </div>  

         
        </div>
      </div>
    </div>

        
        
<!--INCLUDE THE PAGE FOOTER TO THIS VIEW -->
<% include ../partials/footer.ejs %>