  <!-- COMP308 - Emerging Technology Assignment One
 * File: services.ejs
 * Student: Ali Saim (300759480)
 * Date Created: Feb 5th 2017
 * Date Last Modified: Feb 10th 2017
 * Description: services.ejs is a class used to build a view to the website
 * Revision History:
 *  Feb 05, 2017:
 * 					services projects.ejs
 * Feb 10, 2017
 *          Added internal documentation
 -->


<!--INCLUDE THE PAGE HEADER TO THIS VIEW -->
<% include ../partials/header.ejs %>

<!-- CONTENT PAGE FOR SERVICES -->
    <div class="container">
      <div class="row">

        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>


         <table style="width:100%">

            <tr>
                <td>
                
                        <h4>Android Apps</h4>
                        
                                <img class="picture" src="images/androidstudio.png" alt="Android Studio Logo Image">
                                
                                <p>
                                    Make an android app, that is compability for all types of android devices. 
                                </p>

                                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> Order!
                        
                </td>

                

                <td>
            
                        <h4>Unity Games</h4>
                        
                                <img class="picture" src="images/unity.png" alt="Unity logo image">
                            
                                <p>
                                    Make a simple 2D or 3D unity game, that is fully comptable for all devices. 
                                </p>

                                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> Order!
             

            
                </td> 

               

                <td>

                        <h4>ASP.NET</h4>
                        
                                <img class="picture" src="images/asp2.png" alt="ASP.NET logo image">
                                
                                <p>
                                    Make an dynamic ecommerce webiste for your business. 
                                </p>

                                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> Order!
                
                </td>

            </tr>

            

       
        
            <tr>

                <td>

                        <h4>Java</h4>
                        
                                <img class="picture" src="images/java.png" alt="Java logo image">
                                
                                <p>
                                    Make a Java or Java EE program for your business.
                                </p>

                                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> Order!
            
                
                </td>



                <td>
     
                        <h4>C#</h4>
                        
                                <img class="picture" src="images/csharp.png" alt="C# logo image">
                                
                                <p>
                                    Make a windows form application to make data entry a lot easier. 
                                </p>

                                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> Order!
                   
                
                </td>




                <td>
   
                        <h4>Other</h4>
                        
                                <img class="picture" src="images/other.png" alt="other picture">
                                
                                <p>

                                    Make a windows form application to make data entry a lot easier. 
                                </p>

                                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> Order!
              

                </td>

            </tr>

        </table>


        </div>
      </div>
    </div>

        
    

<!--INCLUDE THE PAGE FOOTER TO THIS VIEW -->
<% include ../partials/footer.ejs %>