  <!-- COMP308 - Emerging Technology Assignment One
 * File: error.ejs
 * Student: Ali Saim (300759480)
 * Date Created: Feb 5th 2017
 * Date Last Modified: Feb 10th 2017
 * Description: error.ejs is a class used to build a view to the website, 
                this view is used when help develope the website, as it 
                provides helpful error messages
 * Revision History:
 *  Feb 05, 2017:
 * 					Created error.ejs
 * Feb 10, 2017
 *          Added internal documentation
 -->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
