<!-- COMP308 - Emerging Technology Assignment One
 * File: about.ejs
 * Student: Ali Saim (300759480)
 * Date Created: Feb 5th 2017
 * Date Last Modified: Feb 10th 2017
 * Description: about.ejs is a class used to build a view to the website
 * Revision History:
 *  Feb 05, 2017:
 * 					Created about.ejs
 * Feb 10, 2017
 *          Added internal documentation
 -->

<!--INCLUDE THE PAGE HEADER TO THIS VIEW -->
<% include ../partials/header.ejs %>

<!-- CONTENT PAGE FOR ABOUT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

         <br>
         <h3>Contacts List</h3>

         <table class ="table table-striped table-hover table-bordered">
           <tr>
             <th class="text-center"> Name</th>
             <th class="text-center"> Age</th>
             <th class="text-center"> Phone Number</th>
             <th></th>
             <th></th>
           </tr>


          <% for (let count = 0; count < contacts.length; count++) { %>
              <tr> <!-- Row Template -->

                <td class="text-center"> <%= contacts[count].name %></td>
                <td class="text-center"> <%= contacts[count].age %></td>
                <td class="text-center"> <%= contacts[count].phone %></td>
                <td class="text-center"> <a class="btn btn-primary" href="/contacts/<%= contacts[count]._id %>" role="button"> <i class ="fa fa-pencil-square-o"></i> Edit   </a> </td>
                <td class="text-center"> <a class="btn btn-danger"  href="#" role="button"> <i class ="fa fa-trash-o"></i> Delete </a> </td>
              </tr>
          <% } %>

         </table>


        </div>
      </div>
    </div>


<!--INCLUDE THE PAGE FOOTER TO THIS VIEW -->
<% include ../partials/footer.ejs %>