<!-- COMP308 - Emerging Technology Assignment One
 * File: about.ejs
 * Student: Ali Saim (300759480)
 * Date Created: Feb 5th 2017
 * Date Last Modified: Feb 10th 2017
 * Description: about.ejs is a class used to build a view to the website
 * Revision History:
 *  Feb 05, 2017:
 * 					Created about.ejs
 * Feb 10, 2017
 *          Added internal documentation
 -->

<!--INCLUDE THE PAGE HEADER TO THIS VIEW -->
<% include ../partials/header.ejs %>

<!-- CONTENT PAGE FOR ABOUT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

         <br>
         <h3>Contacts List</h3>
         <ul>
          <% for (let count = 0; count < contacts.length; count++) { %>
            <li class="list-group-item">
                <%= contacts[count].name %>
            </li>
          <% } %>

         </ul>


        </div>
      </div>
    </div>


<!--INCLUDE THE PAGE FOOTER TO THIS VIEW -->
<% include ../partials/footer.ejs %>