  <!-- COMP308 - Emerging Technology Assignment One
 * File: index.ejs
 * Student: Ali Saim (300759480)
 * Date Created: Feb 5th 2017
 * Date Last Modified: Feb 10th 2017
 * Description: index.ejs is a class used to build a view to the website
 * Revision History:
 *  Feb 05, 2017:
 * 					Created index.ejs
 * Feb 10, 2017
 *          Added internal documentation
 -->

<!--INCLUDE THE PAGE HEADER TO THIS VIEW -->
  <% include ../partials/header.ejs %>

    <!-- CONTENT PAGE FOR HOME -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          

          <p></p>
          <img src="images/logo.png" alt="logo Image">
          <br>
          <h4>"Let's make something that changes the world"</h4>
          <br><br>
          <h5>My name is Ali Saim, I am a student at Centennial College and I love to develop Android Apps.</h5>
          <h5>If you have an app idea and need help with development, then you have come to the right place. </h5>
        

          
          
        </div>
      </div>
    </div>



<!--INCLUDE THE PAGE FOOTER TO THIS VIEW -->
    <% include ../partials/footer.ejs %>